process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    // Capture exit codes from upstream processes when piping
    shell = ['/bin/bash', '-euo', 'pipefail']
}

// Capture Nextflow log files
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
  }
  report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
  }
  trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
  }
  dag {
    enabled = true 
    overwrite = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
  }

manifest {
    name            = 'TwistNext'
    author          = 'Jyotirmoy Das'
    homePage        = 'https://github.com/JD2112/TwistNext'
    description     = 'Twist NGS DNA Methylation Data Analysis'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '1.0.0'
}

// // Enable Wave for container management
// wave {
//     enabled = true
//     freeze = true
// }