params {
    // Input/Output options
    sample_sheet    = null // "$projectDir/Sample_sheet_twist.csv"
    genome_fasta    = null // /mnt/SD2/Jyotirmoys/JD/Scripts/MyScripts/JDCo/DNAm/DNAm-NF2/data/reference_genome/hg38/hg38.fa
    bismark_index   = false  // Set to false to generate index, or provide path to existing index
    design_file     = null
    outdir          = null

    // Differential Methylation Analysis options
    compare_str         = "all"
    coverage_threshold  = 10

    // MultiQC options
    multiqc_config      = null
    multiqc_title       = null

    // Max resource options
    max_memory          = '128.GB'
    max_cpus            = 16
    max_time            = '240.h'

    // Post-processing options
    post_processing = true

    // Qualimap options
    qualimap_args = ""
}